{% extends "section_template.html"%}
	{% block extra_buttons %}
		<button class="show-plate">Show plate</button>
		<button class="hide-plate" hidden>Hide plate</button>
	{% endblock %}
	
	{% block extra_stats %}
		Used: <span class="counter-accepted">{{crystal_number}}</span>
	{% endblock %}
	{% block used_div %}
	
	<div class="plate-body" hidden>
		<h3>Used crystals </h3>
		<div class="used">
			{% for well in wells %}
			{% include "tile.html" with class="used-tile" icon="bin.png" hidden="" well=well container="used" plate=plate_number %}		
			{% endfor %}
		</div>
	{% endblock %}
	{% block optional_closure %}
	</div>
	{% endblock %}
