{% extends "soakdb_template.html" %}
	{% block left_sidebar %}
	<div class="left-sidebar">
		<div class="hidden-columns">
			Show more table columns: 
			{% block show_buttons %}
			{% endblock %}				
		</div>
	</div>
	{% endblock %}
	
	{% block main %}
	<table class="datatable">
		<caption><h2>{{ table_caption }}</h2></caption>		
		<thead>
			<tr>
				<th>Row<br>no.</th>
				{% block ths %}
				{% endblock %}		
			</tr>
		</thead>
		<tbody>
			{% block tbody %}
			{% endblock %}		
		</tbody>
	</table>
	{% endblock %}
