{% extends "soakdb_template.html" %}
  
{% block head_links %}
<link rel="stylesheet" href="../../static/compound_screen/batches.css">
 <script src="../../static/compound_screen/batches.js"></script>
{% endblock %}


{% block show_buttons %}
<div>TODO: show-hide buttons</div>
{% endblock %}					

{% block ths %}
<th>Library plate</th>
				<th>Well</th>
				<th>Crystalization<br>plate</th>
				<th>Drop</th>
				<th>Batch Number</th>
				<th>PlateBatch Name</th>
{% endblock %}

{% block menu %}
<form id="batchform">
					<label id="divide">Divide crystals into batches:</label>
					<br>
					<input type="radio" name="x">
					<label>1 batch per plate *</label>
					<br>
					<input type="radio" name="x">
						<label id="cpb-parent"> <input id="cpb" type="number" min="1"> crystals per batch</label>
					<br>
					<input type="radio" name="x">
					<label>other (fully manual)</label>
					<br>
					<button type="submit">Submit</button>
				</form>
				<span>* if a plate contains compounds from more than one library,<br>
					 it will be automatically divided into more batches, one for each library</span>
				<div>
					<button>Accept and save</button>
				</div>
				<div class="nextlink">
					<button>Next step <br> (Soaking)</button>
					<br>
					<span class="comment"> Only works if there is some saved data. <br>
					If data saved is different than data in the spreadshet, asks if <br>
					you want to save changes.</span>
				</div>
{% endblock %}
