{% extends "soakdb_template.html" %}
  
{% block head_links %}
 <script src="../../static/compound_screen/cryo.js"></script>
{% endblock %}


{% block show_buttons %}
<div>TODO: buttons</div>
{% endblock %}					

{% block ths %}
<th>Batch</th>
		<th>Cryo location</th>
		<th>Cryo Transfer Vol</th>
		<th>Cryo Status</th>
		<th>Cryo Transfer Date/Time</th>
{% endblock %}

{% block menu %}
<form id="location-form" class="col6">
				<label>Cryo loaction</label>
					<select id="loc" class="col3">
						<option value="none">Select:</option>
						<option value="a">a</option>
						<option value="b">b</option>
						<option value="c">c</option>
						<option value="d">d</option>						
					</select>
				<div style="grid-column: 1/-1; font-weight: bold">FOR BATCHES:</div>
				<br>
					<label class="col1">all batches</label><input type="checkbox" id="all" class="col2">
					<label id="fromlabel" class="col3">from:</label><input id="from" class="col4" type="number" min="1">
					<label id="tolabel" class="col5">to:</label><input id="to" class="col6" type="number" min="1">	
				<button id="submit-loc2" type="submit">Submit</button>
				
			</form>
			<form id="value-form" class="col2">
				<label>Desired Cryo %:</label>
					<input id="dc" type="number" min="1" max="100">
				<label>Cryo [stock] %:</label>
					<input id="crs" type="number" min="1" max="100">
				<button type="submit">(re)calulate and <br>add to pending</button>
				
			</form>
			<br>
		
		<button type="submit">Export pending batches<br>to Echo</button>
		<br>
		<button type="submit">Mark exported batches as done<br>and start measuring soaking time</button>
		<div class="nextlink">
		<button>Next step <br> (Cryo/Harvesting)</button>
		<br>
		<span class="comment">Next step depends on whether experiment<br>was marked as requiring cryo</span>
		</div>
{% endblock %}
