{% extends "table_layout.html" %}
  
{% block head_links %}
<link rel="stylesheet" href="../../static/compound_screen/table_layout.css">
<link rel="stylesheet" href="../../static/compound_screen/batches.css">
<script src="../../static/compound_screen/cryo.js"></script>
<script src="../../static/classes.js"></script>
{% endblock %}


{% block show_buttons %}
<button class="small-button" id="show-lib" hidden>Show library plate</button>
<button class="small-button" id="show-well" hidden>Show well</button>
<button class="small-button" id="show-cp" hidden>Show crystallisation plate</button>
<button class="small-button" id="show-drop" hidden>Show drop</button>
{% endblock %}					

{% block ths %}
				<th class="lib">Library plate<br><button class="in-table" id="hide-lib">Hide</button></th>
				<th class="well">Well<br><button class="in-table" id="hide-well">Hide</button></th>
				<th class="cp">Crystallisation plate<br><button class="in-table" id="hide-cp">Hide</button></th>
				<th class="drop">Drop<br><button class="in-table" id="hide-drop">Hide</button></th>
				<th>Batch Number</th>
				<th>PlateBatch Name</th>
{% endblock %}

{% block tbody %}
	{% for i in counter %}
	<tr>
		<td>{{i}}</td>
		<td class="lib">[data]</td>
		<td class="well">[data]</td>
		<td class="cp">[data]</td>
		<td class="drop">[data]</td>
		<td>
			<input class="bno" type="number" min="1">
		<td>[data]</td>
	</tr>
	{% endfor %}

{% endblock %}

{% block menu %}
<form id="batchform">
					<label id="divide">Divide crystals into batches:</label>
					<br>
					<input type="radio" name="x">
					<label>1 batch per plate *</label>
					<br>
					<input type="radio" name="x">
						<label id="cpb-parent"> <input id="cpb" type="number" min="1"> crystals per batch</label>
					<br>
					<input type="radio" name="x">
					<label>other (fully manual)</label>
					<br>
					<button type="submit">Submit</button>
				</form>
				<span>* if a plate contains compounds from more than one library,<br>
					 it will be automatically divided into more batches, one for each library</span>
				<div>
					<button>Accept and save</button>
				</div>
				<div class="nextlink">
					<button>Next step <br> (Soaking)</button>
					<br>
					<span class="comment"> Only works if there is some saved data. <br>
					If data saved is different than data in the spreadshet, asks if <br>
					you want to save changes.</span>
				</div>
{% endblock %}
