{% extends "table_layout.html" %}
  
{% block head_links %}
<link rel="stylesheet" href="../../static/compound_screen/table_layout.css">
<link rel="stylesheet" href="../../static/compound_screen/soak.css">
 <script src="../../static/compound_screen/soak.js"></script>
{% endblock %}


{% block show_buttons %}
<div>TODO buttons</div>
{% endblock %}					

{% block ths %}
			<th>Batch</th>
			<th>Cryo transfer volume</th>
			<th>Cryo Status</th>
			<th>Soak Transfer Date/Time</th>
			<th>Batch details</th>
{% endblock %}

{% block tbody %}
	{% for i in counter %}
		<tr>
			<td>{{i}}</td>
			<td>[data]</td>
			<td>[data]</td>
			<td>[data]</td>
			<td>[data]</td>
			<td><button class="batch-details" id="details-b-{{i}}">See batch details</button></td>
		</tr>
	
	{% endfor %}

{% endblock %}

{% block menu %}
		<form id="cryo-values">

				<label>Cryo stock %:</label>
					<input id="cs" type="number" min="1" max="100">
				<br>
				<label>Desired Cryo %:</label>
					<input id="cc" type="number" min="1" max="100">
				<br>
				<label>Cryo location:</label>
					<input id="cl" type="text">
				<br>
				<button type="submit">(re)calulate and <br>add to pending</button>
			</form>
		<br>
		
		<button type="submit">Export pending batches<br>to Echo</button>
		<br>
		<button type="submit">Mark exported batches as done<br>and start measuring soaking time</button>
		<div class="nextlink">
		<button>Next step <br> (Cryo/Harvesting)</button>
		<br>
		<span class="comment">Next step depends on whether experiment<br>was marked as requiring cryo</span>
		</div>
{% endblock %}
