{% extends "soakdb_template.html" %}

{% comment %}
Template for the crystal gallery.

The main block contains <section> elements, each representing one library 
plate.

{% endcomment %}


{% load static %}

{% block head_links %}
<link rel="stylesheet" href="../../static/compound_screen/crystals.css">
<script src="../../static/compound_screen/crystals_functions.js"></script>
<script src="../../static/compound_screen/crystals.js"></script>
<script src="../static/classes.js"></script>
{% endblock %}

{% block main %}
	
	{% include "section_used.html" with plate_number="all_used" plate_class="all-used" wells=wells crystal_number=wells|length %}
	{% include "section_partially_used.html" with plate_number="partially_used" plate_class="partial"  wells=wells crystal_number=wells_part_2|length %}
	{% include "section_fresh.html" with plate_number="fresh" wells=wells crystal_number=wells|length %}
	
{% endblock %}

{% block menu %}
		<div id="add-plates">
			<label>Choose plate to upload</label>
			<input type="file">
			<label>Enter drop volume (nL):</label>
			<input type="number" min="1">
			<button id="texrank">Upload</button>
		</div>
		
		<div id="summary" hidden>
		<h3>Summary</h3>
		Plates: [data]<br>
		Total used crystals: 35 <br>
		Total accepted crystals: <span id="total-accepted"></span><br> Total rejected crystals: <span id="total-rejected"></span></div>
		
		<form id="crystal-form" hidden>
			<label>Remove crystals with score lower than:</label>
			<input type="number" min="1">
			<label>Add crystals with score higher than:</label>
			<input type="number" min="1">
		
				
		<button type="submit">Apply</button>
		</form>	
			<div class="nextlink">
				<button>Next step <br> (Create batches)</button>
			</div>
{% endblock %}
