{% extends "soakdb_template.html" %}
  
{% block head_links %}
<link rel="stylesheet" href="../../static/compound_screen/crystals.css">
<script src="../../static/compound_screen/crystals.js"></script>
{% endblock %}

{% block main %}



	{% include "section.html" with plate_number="1" crystal_number=counter1|last counter=counter1 %}
	{% include "section.html" with plate_number="2" crystal_number=counter2|last counter=counter2 %}
	{% include "section.html" with plate_number="3" crystal_number=counter3|last counter=counter3 %}
	{% include "section.html" with plate_number="4" crystal_number=counter4|last counter=counter4 %}
{% endblock %}

{% block menu %}
		<div id="summary" hidden>
		<h3>Summary</h3>	
		Total accepted crystals: <span id="total-accepted"></span><br> Total rejected crystals: <span id="total-rejected"></span></div>
		<div id="crystal-info" hidden>
			<h3>Crystal information:</h3>
			
			<div id="infobox">
				<span class="right"><strong>Drop:</strong></span> <span>[data]</span>
				<span class="right"><strong>X coordinate:</strong></span> <span>[data]</span>
				<span class="right"><strong>Y coordinate:</strong></span><span>[data]</span>
				<span class="right"><strong>Score:</strong></span> <span>[data]</span>
			</div>
		<p id="empty-crystal-info">
			Click on the <img src="../static/compound_screen/info.png" alt="alttext"> icon to display information about the crystal.
			</p>
		</div>	
		<button id="texrank">Upload crystal images and information from TeXRank</button>
		<form id="crystal-form" hidden>
			<label>Enter drop volume (nL):</label>
			<input type="number" min="1">
			<button type="submit">Submit</button>
			<label>Remove crystals with score lower than:</label>
			<input type="number" min="1">
			<label>Add crystals with score higher than:</label>
			<input type="number" min="1">
				
		<button type="submit">Apply</button>
			
			<div class="nextlink">
				<button>Next step <br> (Create batches)</button>
			</div>
{% endblock %}
