{% extends "soakdb_template.html" %}
  
{% block head_links %}
 <script src="../../static/compound_screen/soak.js"></script>
{% endblock %}


{% block show_buttons %}
<div>TODO buttons</div>
{% endblock %}					

{% block ths %}
<th>Batch</th>
			<th id="cshead">Compound [stock] mM</th>
			<th>[compound] mM</th>
			<th>Transfer Vol</th>
			<th>Soak Status</th>
			<th>Soak Transfer Date/Time</th>
{% endblock %}

{% block menu %}
<form>

				<label>Desired Solvent %:</label>
					<input id="ds" type="number" min="1" max="100">
				<br>
				<label for="multi">Multiple compound stock concentrations</label>
					<input id="multi" value="button" type="checkbox">
					
				<div class="hide">
					<label>Compound [stock] mM:</label>
						<input id="cs" type="number" step="0.1">
				</div>
				<div class="manystocks">			
					<label>Assign stock by library (press and hold Ctrl to select multiple libraries)</label>
					<span>Enter stock concentration for selected libraries</span>
						<select multiple>
							<option>___Generates list of libraries used in the project____</option>
							<option>Library 1</option>
							<option>Library 2</option>
							<option>Library 3</option>
						</select>
						<input>
					<br>
					<button>Add</button>
				</div>
				<button type="submit">(re)calulate and <br>add to pending</button>
			</form>
			<table class="manystocks">
				<tr>
					<th>Libraries</th>
					<th>Stock concentration mM</th>
				</tr>
				<tr>
					<td>Library 1</td>
					<td>Data</td>
				</tr>
				<tr>
					<td>Library 2,Library 3</td>
					<td>Data</td>
				</tr>
			</table>
		<br>
		
		<button type="submit">Export pending batches<br>to Echo</button>
		<br>
		<button type="submit">Mark exported batches as done<br>and start measuring soaking time</button>
		<div class="nextlink">
		<button>Next step <br> (Cryo/Harvesting)</button>
		<br>
		<span class="comment">Next step depends on whether experiment<br>was marked as requiring cryo</span>
		</div>
{% endblock %}
