{% extends "soakdb_template.html" %}
  
{% block head_links %}
 <link rel="stylesheet" href="../../static/compound_screen/c-list.css">
 <script src="../../static/compound_screen/c-list.js"></script>
{% endblock %}


{% block show_buttons %}
<button class="small-button" id="show-lib">Show Library</button>
<button class="small-button" id="show-plate">Show Plate</button>
<button class="small-button" id="show-cc">Show Concentration</button>
<button class="small-button" id="show-code">Show Code</button>
<button class="small-button" id="show-smiles">Show SMILES</button>
<button class="small-button" id="show-2d">Show 2D</button>	
{% endblock %}



{% block ths %}
					<th class="lib">Library name<br><button class="in-table" id="hide-lib">Hide</button></th>
					<th class="plate">Library plate<br><button class="in-table" id="hide-plate">Hide </button></th>
					<th class="cc">Compound<br>concentration (mM)<br><button class="in-table" id="hide-cc">Hide </button></th>
					<th class="code">Code<br><button class="in-table" id="hide-code">Hide </button></th>
					<th class="smiles">SMILES<br><button class="in-table" id="hide-smiles">Hide </button></th>
					<th class="c2d">2D structure<br><button class="in-table" id="hide-2d">Hide </button></th>
					<th class="priority">Priority<br>(1=highest)</th>
					
{% endblock %}

{% block tbody %}
	{% for i in counter %}
		<tr>
			<td>{{i}}</td>
			<td class="lib">[data]</td>
			<td class="plate">[data]</td>
			<td class="cc">[data]</td>
			<td class="code">[data]</td>
			<td class="smiles">[data]</td>
			<td class="c2d">
				<img src="../static/compound_screen/pic.png" alt="alttext"></td>
			<td>
				<span class="pr">3</span>
				<img src="../static/compound_screen/up.png" alt="increase" class="increase">
				<img src="../static/compound_screen/down.png" alt="decrease" class="decrease">
				</td>
			</tr>' 
	
	{% endfor %}

{% endblock %}

{% block menu %}
<form>
				<label class="col1">Sort by:</label>
				<select>
					<option>Property 1</option>
					<option>Property 2</option>
					<option>Property 3</option>
					<option>Property 4</option>
					<option>Property 5</option>
				</select>
				
				<select class="col4">
					<option>Ascending</option>
					<option>Descending</option>
				</select>
			</form>
			
			<button>Accept and save</button>
			<div class="nextlink">
				<button>Next step <br> (TeXRank crystal positions)</button>
			</div>
{% endblock %}
