<section class="{{plate_class}}">
	<h2>Crystallisation Plate {{plate_number}}</h2>
	<div class="plate-buttons">
		{% block extra_buttons %}
		{% end %}
		<button class="show-all">Display all crystal details</button>
		<button class="hide-all">Hide all crystal details</button>
	</div>
	<div>Drop volume: [data]<br>
	{% block extra_stats %}
	{% endblock %}
		<br>Rejected: <span class="counter-rejected">0</span>
	</div>
	{% block used_div %}
	{% endblock %}
	{% block accepted%}
	{% endblock %}
	<h3>Rejected crystals</h3>
	<div class="rejected">			
		{% for well in wells %}
		{% include "tile.html" with class="hidden" icon="recycle.jpg" hidden="hidden" well=well container="rejected" plate=plate_number%}
		{% endfor %}
	</div>
	
</section>

