body {
margin: 10px;
}

/*
.all {
margin-top: 50px;
z-index: 1;
}

*/
.allheader {
display: grid;
grid-column-template: 50% 50%;
width: 150%;
}

div.allheader table {
grid-column:2/3;
}

#allnav {
font-size: 1.5em;
grid-column:1/2;
}



#alltable tr:nth-child(even) {
background: rgba(211, 211, 211, 0.4);
}

table, td, th {
	margin: 10px;
	border-width: 1px;
	border-collapse: separate;
	border-top-width: 0;
	border-left-width: 0;
}

.allheader table, .allheader td{
	border: black solid 1px !important;
	border-collapse: collapse;
}

table#alltable {
	border-width:2px;
	}

#alltable 	th:nth-child(5), th:nth-child(9), th:nth-child(11), th:nth-child(17), th:nth-child(23), th:nth-child(33), th:nth-child(17), th:nth-child(17),
			td:nth-child(5), td:nth-child(9), td:nth-child(11), td:nth-child(17), td:nth-child(23), td:nth-child(33), td:nth-child(17), td:nth-child(17){
		border-right-width: 3px; /* !important;*/
}


.col2 {
	background: #e2fefe;
}

.col1 {
	background-color: #e1ffe1;
}

tr.subtables th{
	top: 0;
	position: sticky;
	border-right-width: 3px;
	background: #ececec;
}


tr.cols th{
	top: 55px;
	position: sticky;
	border-top-width: 1px;
	background: #ececec;
}
