main { 
display: grid;
grid-template: auto / max(400px) auto;
grid-gap: 1em;
}

#batchform{
display: grid;
grid-template-columns: 10% 40% 50%;
}

th {
position: relative;
}

#batchform label{
text-align: left;
}

#divide {
	grid-column: 1/-1;
	text-align: left;
}

#cpb-parent {
	grid-column: 2/-1;
}

table caption {
font-weight: bold;
font-size: 1.5em;
}

#menu {
grid-column: 2/3;
}

aside {
	height: auto;
    grid-column: 2/3;
    position: fixed;
    top: 2px;
    right: 2px;
    width: 28em;
}

.batch, .crystals, .wells, .drop, .pb-name, .batch-checkbox, .unused{
display: none;
}

.cr-plate-selection {
font-size: 1em;
}

.instructions {
max-width: 100px;
font-weight: bold;
font-size: 0.9em;
}

.ok-button {
padding:3px;
margin:0;
font-size: 0.8em;
}

#source table {
width: 100%;
}

.dark{
	background: rgb(210, 210, 0, 0.1) !important;
}

.datatable tr:nth-child(even) {
	background: white;
}

/*
tr.dark:nth-child(even) {
	/*background: red !important;
	background: rgb(210, 210, 0, 0.5) !important;
}*/

.tip {
font-weight: bold;
font-size: 0.7em;
max-width: 30em;
}
