main { 
display: grid;
grid-template-columns: max(400px) auto 100px;
grid-gap: 1em;
}

#batchform{
display: grid;
grid-template-columns: 10% 40% 50%;
}

#source {
color: #003767;
background: aliceblue;
font-size: 0.8em;
height: 100vh;
}

#source td, th, table, caption {
border: solid #003767 1px;
}

th {
position: relative;
}

#batchform label{
text-align: left;
}

#divide {
	grid-column: 1/-1;
	text-align: left;
}

#cpb-parent {
	grid-column: 2/-1;
}

table caption {
font-weight: bold;
font-size: 1.5em;
}

#menu {
grid-column: 2/3;
}

aside {
	height: auto;
    grid-column: 2/3;
    position: fixed;
    top: 2px;
    right: 2px;
    width: 28em;
}

.crystals, .wells, .drop, .pb-name, .unused-crystals, .unused-compounds {
display: none;
}

.small {
font-size: 0.7em;
}

/*
.view3, .view2 {
visibility: hidden;
}*/


.instructions {
max-width: 100px;
font-weight: bold;
font-size: 0.9em;
}

#actions{
grid-column-start: 3;
}

.ok-button {
padding:3px;
margin:0;
font-size: 0.8em;
}

#source table {
width: 100%;
max-width: 350px;
}

.dark{
	background: rgb(210, 210, 0, 0.1) !important;
}

.datatable tr:nth-child(even) {
	background: white;
}

/*
tr.dark:nth-child(even) {
	/*background: red !important;
	background: rgb(210, 210, 0, 0.5) !important;
}*/

div.tip {
background: aliceblue;
font-weight: bold;
font-size: 0.7em;
max-width: 30em;;
}
