main {
margin-top: 20px;
display: grid;
grid-gap: 1px;
grid-template-columns: 10% 63% 25%;
} 

#wrapper {
grid-column: 3/4;
}

.datatable {
grid-column: 2;
}

.smiles {
display: none;
}

#show-2d, #show-p1, #show-p2, #show-p3, #show-p4, #show-lib, #show-code, #show-plate, #show-filter-options, #show-cc {
	display: none;
}
